name: Lint with mypy

on:
  workflow_call:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install ".[mypy]"

      - name: Run mypy
        continue-on-error: true  # remove when https://github.com/Draegerwerk/sdc11073/issues/156 is done
        uses: sasanquaneuf/mypy-github-action@releases/v1
        with:
          checkName: 'mypy'   # NOTE: this needs to be the same as the job name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
