name: Run PAT tests
on:
  workflow_dispatch:
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
  push:
    branches:
      - master
      - v*
jobs:
  sdc11073_provider_v2:
    strategy:
      matrix:
        # macOS 15 has issues starting the http server in the provider, but only in the ci
        #  https://github.blog/changelog/2025-07-11-upcoming-changes-to-macos-hosted-runners-macos-latest-migration-and-xcode-support-policy-updates/
        os: [ ubuntu-latest, macos-14, windows-latest ]
        tls_enable: [ true, false ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install sdc11073
        run: python -m pip install .

      - name: Run tests with tls enabled
        if: ${{ matrix.tls_enable }}
        run: python -m pat.ReferenceTestV2.run --tls
        timeout-minutes: 2

      - name: Run tests with tls disabled
        if: ${{ !matrix.tls_enable }}
        run: python -m pat.ReferenceTestV2.run
        timeout-minutes: 2
